<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h2>Login</h2>
    <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['email'].errors }"/>
                <div *ngIf="submitted && loginForm.controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="loginForm.controls['email'].required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['password'].errors }"/>
                <div *ngIf="submitted && loginForm.controls['password'].errors" class="invalid-feedback">
                    <div *ngIf="loginForm.controls['password'].required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button> OR <a routerLink="/register" class="btn btn-link">Create new account</a>
            </div>            
        </form>
    </div>
</div>