<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h2>{{title}}</h2>

    <div *ngIf = "displaySpinner" ngClass="whole-area" id="whole-area" style="display: block;">
        <div ngClass="loader" id="loader-1"></div>
    </div>

    <div class="col-md-6">
        <form [formGroup]="updateGroupForm" (ngSubmit)="onSubmit(this.groupId)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && updateGroupForm.controls['name'].errors }" value="{{showData?.name}}" />
                <div *ngIf="submitted && updateGroupForm.controls['name'].errors" class="invalid-feedback">
                    <div *ngIf="updateGroupForm.controls['name'].errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Image</label>
                <input type="file" class="form-control" formControlName="image" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" [ngClass]="{ 'is-invalid': submitted && updateGroupForm.controls['image'].errors }" />
                <img src="{{imageUrl}}{{showData?.image}}" style="height: 100px;" />
            </div>

            <!-- <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div> -->

            <div class="form-group">
                <a mat-raised-button (click)="openDialog()">Add Member</a>
            </div>

            <mat-card>
                <mat-card-content>
                    <table class="table" cellpadding="0" cellspacing="0">
                        <tr *ngFor="let i of group.members; let index = index">
                            <td> <span (click)="setAdmin(index)">{{ i.name }}</span> <span class="admin-span" *ngIf="i.admin==1">Admin</span></td>
                            <td class="text-right"><button mat-icon-button color="warn" (click)="removeItem(index)" >&#10006;</button></td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
            

            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Update
                </button>
                &nbsp;
                <a class="btn btn-primary" routerLink="/dashboard">Back</a>
            </div>
        </form>
    </div>
</div>